<!DOCTYPE html>
<html>
<head>
  <title>Bokehhh</title>
  <script type="text/javascript" src="//use.typekit.net/rvc2nmr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<%= render "layouts/header" %>
	<div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
		<%= yield %>
	<?

</body>
</html>
